body {
    background: rgb(227, 248, 122);
}
h1 {
    color: brown;
}
h1, h4 {
    text-align: center;
}
a {
    text-align: center;
    color: green;
}
p {
    text-align: center;
}

.container {
    text-align: center;
}
