body {
    background: rgb(254, 222, 142);
}
h1 {
    color: brown;
}
h1, h4 {
    text-align: center;
}
a {
    text-align: center;
    color: green;
}
p {
    text-align: center;
}

.container {
    text-align: center;
}
